extends ../includes/navigation.pug

block styles
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/product.css")

block content
    main.centered
        h1 #{product.title}
        hr
        div
            - url = product.imageUrl
            - title = product.title
            img(src=url, alt=title)
        h2 #{product.price}
        p #{product.description}
        form(action='/cart', method='POST')
            button.btn(type='submit') Add to Cart
            - id = product.id
            input(type='hidden', name='productId', value=id)

        
